.portfolio-item {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.image-style {
    border-radius: 10px;
    background-size: cover;
}

.portfolio-row {
    min-height: 300px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.portfolio-content {
    text-align: center;
    color: #FFF;
    padding: 0 15px;
}

.bg-fade {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
}

@media all and (max-width: 770px)  {
    .portfolio-item {
        width: 100%;
    }
}
