.portfolio-nav-bg {
  background-color: #666;
}

nav.portfolio-nav-container {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
}

nav.portfolio-nav-container a {
  color: white;
}

.portfolio-header-bg {
  background-color: #000;
  margin-bottom: 90px;
}

header.portfolio-header-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio-header-container h1 {
  font-size: 40px;
  border-bottom: 1px #FFF solid;
  padding-bottom: 20px;
  display: inline-block;
  word-break: break-word;
}

.portfolio-header-container h2 {
  margin-top: 20px;
  font-size: 30px;
  word-break: break-word;
}

.portfolio-header-container h3 {
  font-size: 20px;
}

.portfolio-description {
  font-size: 23px;
  line-height: 38px;
  margin-bottom: 90px;
}

.image-container,
.videos-container {
  text-align: center;
}

.portfolio-image {
  max-width: 100%;
  display: block;
  margin: 0 auto 90px;
  border: 1px solid #666;
}

.portfolio-video {
  display: block;
  margin: 0 auto 90px;
}

.portfolio-video video {
  max-width: 100%;
}

@media all and (max-width: 420px)  {
  .portfolio-header-container h1 {
    word-break: break-word;
  }

  .portfolio-header-container h2 {
    word-break: break-word;
  }
}